.column {
  width: 1fr;
  min-height: 100%;
}

.message {
  height: auto;
  padding: 1;
  text-align: left;
}

.user {
  margin: 1 1 1 10;
  background: darkblue;
}

.agent {
  margin: 1 10 1 1;
  background: darkblue;
}
